@font-face
{src: url("../font_style/playfair_display/static/playfairdisplay-regular.ttf");}
@font-face
{src: url("../font_style/ubuntu/Ubuntu-Light.ttf");}
body
{margin: 0; padding: 0;}
:root
{--col1:red; --col2:rgb(255, 251, 0); --col3:rgb(0, 255, 0); --col4:rgb(0, 238, 255); --col5:rgb(0, 26, 255); --col6:rgb(255, 0, 191); --col7:rgb(148, 130, 131); --col8:rgb(48, 25, 25);}
.banner
{margin: 6% 0 0%; position: relative; height: 50vh; color: rgb(235, 15, 15); font-size: 100px; font-weight: 500; text-align: center;}
.ben1
{background: linear-gradient(rgb(0, 0, 0),red)}
.container
{height: 334px; background: linear-gradient(black,white);}
.box
{font-size: 80px; position: absolute; left: 24.5%; top: 25%;}
.ben2
{background: linear-gradient(yellow,yellowgreen,rgb(73, 73, 167),rgb(69, 143, 51));}
.ben3
{background: linear-gradient(white,rgb(153, 101, 126),rgb(99, 84, 84));}
.banners
{width: 90%;}
.box5
{position: absolute; left: 17.5%; top: 80%;}
.container-fluid
{height: 100px; background-color: rgb(185, 162, 162); margin: 5% 0 5%;}





/* image_with_hover */
.pbox
{position: relative; width: 55.9%; height: 53vh; border: 1px solid red;}
.pbox img
{width: 100%;}
.hedline_hover
{width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; opacity: 0; transition: .4s; background-color: #fff;}
.hedline_hover:hover
{opacity: .6;}
.hedline_hover h1
{position: absolute; color: #000000; margin: 0; top: 50%; left: 35%; text-align: center; transform: translate(-20%,-20%); font-size: 74px;}
/* image_with_hover_end */





.box9
{width: 100%; height: 100px; background-color: black;}